/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* adding styles to columns */
/* main column/content */
#wrapper {
  width: 1000%;
  height: 1000%;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid black;

  background-image: linear-gradient(
      rgba(13, 20, 51, 0.7),
      rgba(167, 170, 184, 0.7)
    ),
    url(./Images/Background.PNG);
  min-height: 150vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

#col1 {
  width: 25%;
  height: 45%;
  float: left;
  border-right: solid thin black;
}
#col4 {
  width: 25%;
  height: 45%;
  float: left;
  border: solid thin black;
  clear: both;
  text-align: center;
}
#col4 a {
  color: white;
  font-family: serif;
  font-size: 27px;
  text-align: center;
}
h1 {
  vertical-align: center;
}
#col2 {
  width: 75%;
  height: 22.5%;
  float: right;
  border: solid thin black;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  color: aliceblue;
}
#col3 {
  width: 75%;
  height: 22.5%;
  float: right;
  border: solid thin black;
  font-size: 2em;
  display: inline;
  text-align: center;
  text-decoration: none;
}
#col3 a {
  color: aliceblue;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  border: solid 1px;
  background-color: #9999af;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
#col5 {
  width: 52.5%;
  height: 45%;
  float: left;
  border: solid thin black;
}
#col6 {
  width: 22.5%;
  height: 45%;
  float: right;
  border: solid thin black;
}
#footer {
  width: 100%;
  height: 100%;
  float: right;
  border-right: solid thin black;
}
.container {
  max-width: 75px;
  font-family: sans-serif;
  margin: 50px;
  padding-top: 30px;
}
.month {
  text-align: center;
  font-size: 2.6em;
  color: #fff;
  padding: 10px;
  letter-spacing: 1px;
  border: 5px solid #fff;
  background-color: rgba(red, green, blue, alpha);
}
