/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* adding styles to columns */
/* main column/content */
#wrapper {
  width: 1000%;
  height: 1000%;
  margin-right: 10px;
  margin-left: 10px;
  border: 2px solid black;

  /* background-image: url(./Images/background2.PNG); */
  background-color: black;
  min-height: 180vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

#col1 {
  width: 25%;
  height: 45%;
  float: left;
  border-right: solid thin black;
}
#col4 {
  width: 25%;
  height: 45%;
  float: left;
  border: solid thin black;
  clear: both;
  text-align: center;
}
#col4 a {
  color: white;
  font-family: serif;
  font-size: 27px;
  text-align: center;
  text-decoration: none;
}
/* the code underneath adds a underline hover effect over the vertical navigation bar */
#col4 a:hover {
  text-decoration: underline;
}
h1 {
  vertical-align: center;
}
h1 {
  vertical-align: center;
}
#col2 {
  width: 75%;
  height: 22.5%;
  float: right;
  border: solid thin black;
  font-weight: bold;
  text-align: center;
  font-size: 75px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  color: aliceblue;
}
#col3 {
  width: 75%;
  height: 22.5%;
  float: right;
  border: solid thin black;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
#col3 a {
  color: aliceblue;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  /* the border underneath is to customise the navigation bar to be squared */
  border: solid 1px;
  background-color: #9999af;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
/* I am adding hover effects over the navigation bars */
#col3 a:hover {
  color: #fff;
  background-color: #042029;
  font-weight: bold;
}
/* the fieldset and legend is to add stylying to the form
   */
fieldset {
  width: ;
  background-color: #eeeff0;
  border: solid medium #fcfcfd;
}
legend {
  border: solid 1px #053972;
  background-color: #fff;
  padding: 2px;
}
#col5 {
  width: 52.5%;
  height: 45%;
  float: left;
  border: solid thin black;
}
/* styling the form to make the the input boxes aligned */
#col5 label {
  float: left;
  width: 10em;
  text-align: right;
  margin-right: 10px;
}

#col6 {
  width: 22.5%;
  height: 45%;
  float: right;
  border: solid thin black;
}
#footer {
  width: 100%;
  height: 100px;
  float: left;
  margin-left: ;
  clear: both;
  border: solid thin black;
  background-color: #fff;
}
#footer p {
  text-align: center;
  font: inherit;
}

/* 


this is where the gallery styling beginss
this is where the gallery styling beginss
this is where the gallery styling beginss
this is where the gallery styling beginss
this is where the gallery styling beginss
this is where the gallery styling beginss
this is where the gallery styling beginss
this is where the gallery styling beginss

*/
* {
  margin: 0;
  padding: 0;
}
.hero {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background: black;
}
